@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgba(31, 243, 20, 0.616);
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h3 {
    color: #0c0b0b;
    margin: 10px 10 20px;
    font-size: 20px;
}

.container {
    width: 500px;

}

.textarea {
    border: none;
    display: block;
    width: 50%;
    height: 100px;
    font-family: inherit;
    padding: 10px;
    margin: 0 0 20px;
    font-size: 10px;

}

.tag {
    background-color: #b7f213;
    color: #0c0b0b;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 0 5px 10px 0;
    font-size: 14px;
    display: inline-block;

}

.tag.highlight {
    background-color: #f16d00;
    box-shadow:
        2.3px 3.3px 13px rgba(0, 0, 0, 1),
        6.3px 9px 36.1px rgba(0, 0, 0, 0.652),
        15.1px 21.7px 86.8px rgba(0, 0, 0, 0.5),
        50px 72px 288px rgba(0, 0, 0, 0.348);
}